body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fefefe;
  color: #334155;
}

/* Montserrat */
.montserrat {
  font-family: "Montserrat", sans-serif;
}

/* Anonymous Pro */
.anonymous {
  font-family: "AnonymousPro", monospace;
}

/* Font Weights */
.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

/* Colors */
.white-primary {
  color: #fefefe;
}

.black-primary {
  color: #070b12;
}

.red-primary {
  color: #d60000;
}

.gray-primary {
  color: #334155;
}

/* Backgrounds */
.bg-black-primary {
  background-color: #070b12;
}

.bg-white-primary {
  background-color: #fefefe;
}

.bg-red-primary {
  background-color: #d60000;
}

.bg-white-secondary {
  background-color: #f8f8f8;
}

.bg-gradient-primary {
  background: linear-gradient(
    90deg,
    #070b12 0%,
    #ffc368 19%,
    #8257e5 51%,
    #d60000 83%,
    #070b12 100%
  );
}

/* Container */
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}

/* ---- PreHeader ---- */
.preheader-container{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 14px 60px;
  gap: 10px;
  width: 100%;
}

.preheader-text{
  font-size: 14px;
}

.preheader-gradient-border{
  width: 100%;
  height: 2px;
}

/* ----- Banner ----- */
.banner-container {
  display: flex;
  justify-content: center;
  padding: 16px;
}

/* ----- Awards ----- */
.awards {
  text-align: center;
  padding: 60px 20px;
}
.awards-container {
  display: flex;
  justify-content: center;
}

.awards-title {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 100%;
}

.awards-subtitle {
  font-size: 14px;
  line-height: 18px;
}

/* ----- Winners ----- */
.winners{
  text-align: center;
  padding: 0px 20px 60px 20px;
}

.winners-title{
  font-size: 18px;
  margin-bottom: 32px;
}

.winners-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.winner{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.winners-text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
  padding-left: 8px;

}

.winners-illustration{
  border-width: 1px;
  border-color: #FFFFFF;
  border-radius: 2px;
}

/* ----- Footer ----- */
.footer-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-text {
  font-size: 14px;
  line-height: 1.4;
}

.footer-gradient-border {
  height: 2px;
  width: 100%;
}
